/* PC用CSS */
html,body{
  height: 100%
}
body{
  font-family: serif;
}

.warota{
  height: 100%;
}

.sp{
  display: none;
}
/* SP用CSS */
@media screen and (max-width:771px) { /*画面幅740px以下はこのCSSを反映*/
/*SP非表示*/
.pc{
  display: none;
}

.sp {
display: block;
}

}
